// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&display=swap');

// Define fonts for body and headers
$body-font: 'Roboto Slab', serif;
$headers-font: "TarrgetHalfTone";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "TarrgetHalfTone";
  src: font-url('TarrgetHalfToneItalic-ozyV.otf?#iefix') format("embeded-opentype"),
       font-url('TarrgetHalfToneItalic-ozyV.otf') format("opentype"),
       font-url('TarrgetHalfToneItalic-ozyV.woff') format("woff"),
       font-url('TarrgetHalfToneItalic-ozyV.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  // font-family: "AtariClassic-gry3";
  // src: font-url('AtariClassic-gry3.ttf') format("truetype");
  // font-weight: normal;
  // font-style: normal;


  // src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
  //      font-url('FontFile.woff') format('woff'),
  //      font-url('FontFile.ttf') format('truetype')
}

