// Specific CSS for your home-page
.banner {
  height:600px;
  background-size: cover;

  h1, .home-login {
    color: $pink;
    text-align: center;
    padding-top: 100px;
    padding-left: auto;
    padding-bottom:100px;
    padding-right: auto;
  }
  .home-login {
    font-size: 30px;
    display:block;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
