// Specific CSS for your home-page
.banner {
  height:600px;
  background-size: cover;
  text-align: center;

  h1 {
    color: $pink;
    padding-top: 150px;
    padding-left: auto;
    padding-bottom:100px;
    padding-right: auto;
    line-height: 5rem;
  }
}

.games-set {
  h2 {
    color :$light-blue;
    text-align: center;
  }
}

.home-login {
  text-decoration: none;
  color:$light-blue;
  font-family: $title-font;
  text-align: center;
  font-size: 30px;
  display:block;
  padding: 8px 20px;
  border: 1px solid $pink;
  border-radius: 50px;
  display:inline-block;
}
