
  <!-- this is the form to search users to add to the friend list -->
  <div class="search-wrap">

    <%= form_tag "",
      class: "d-flex justify-content-around  mx-1",
      data: {action: "submit->users#searchUser"},
      remote: true,
      method: "get" do
    %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control ml-auto mr-2 user-form",
        data: {target: "users.name"},
        placeholder: "Search for user"
      %>

      <button type="submit" class="btn btn-primary btn-search">
        <i class="fas fa-search"></i>
      </button>

      <%#= submit_tag "<i class="fas fa-search"></i>", class: "btn btn-primary mr-auto"%>
    <% end %>

  </div>
  <!-- end of the search action, then to render the result in the following game cards section -->
