<form id="search-games" class="d-flex justify-content-around mt-5 mx-3">
  <input id="game-name" type="text" class="form-control ml-auto mr-2" placeholder="type the game name">
  <select id="console-model" name="platforms" class="form-control ml-auto mr-2">
    <% platforms.each do |platform| %>
      <option value=<%= platform.console_model %>><%= platform.console_model %></option>
    <% end %>
  </select>
  <input type="submit" id="search-submit" class="btn btn-primary mr-auto ml-2" value="Search">
</form>






<!-- <div class="search-bar mt-5">
<%#= form_tag dashboard_path, method: "get" do %>
  <div class="search-select col-5">
    <%#= select_tag :console, options_for_select(Cause::CAUSES), class: 'select2', :multiple => true %>
  </div>
  <%#= text_field_tag :games, "", required: false, id: "game-name", label: false, placeholder: "enter the game name to search!" %>
  <%#= submit_tag "Search ", class: "btn btn-primary text-white" %>
<%# end %>
</div>
 -->
