<div class="dash-container">
  <div class="row">
  <div class="content-grid">
    <!-- user profile section, 1fr -->
    <div class="user-profile">
      <%= cl_image_tag @user.photo.key, alt: "#{@user.user_name}", class: "avatar-large"%>
      <%= @user.user_name %>
    </div>
    <!-- end of user profile section -->

    <!-- main game section, 2fr -->
    <div class="games-section">
      <!-- search bar -->
      <div class="search-bar" data-controller="search">
        <%= render 'search_bar', consoles: @consoles %>
      </div>
    </div>
    <!-- end of main game section-->

    <!-- user action and notification sesction, 1fr-->
<!--     <div class="user-action">

    </div> -->
    <!-- end of user action section -->
  </div>
  </div>
</div>
