<div class="dash-container">
  <div class="row">
  <div class="content-grid">
    <!-- user profile section, 1fr -->
    <div class="user-profile">
      <%= render 'load_user', user: current_user, platforms: @user_platforms, user_games: @user_games %>
    </div>
    <!-- end of user profile section -->

    <!-- main game section, 2fr -->
    <div class="games-section">
      <div class="game-section-container">

        <!-- search bar -->
        <div class="search-bar" data-controller="search">
          <%= render 'search_bar', platforms: @platforms, genres: @genres %>

          <!-- show the search result with game cards -->
          <div class="container my-3" data-controller="addgame">
            <div class="card-grid-sm" data-target="search.results">
            </div>
          </div>
          <!-- game cards end -->
        </div>
        <!-- search bar and card render end -->
      </div>

    </div>
    <!-- end of main game section-->

     <!-- user action and notification sesction, 1fr -->
    <div class="user-action">

    </div>
    <!-- end of user action section -->
  </div>
  </div>
</div>
