<div class="dash-container">

  <div class="game-reco">
    <h3 style="color:#D09CBF"> My Game Collection</h3>
    <br>
    <div class="game-cards">
      <div class="card-grid-lg" data-controller="addgame">
        <% if !@my_games.length != 0 %>
          <%= render 'pages/game_card', responses: @my_games %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <hr style="color:#D09CBF">
  <br>
  <div class="game-reco">
    <h3 style="color:#D09CBF">Games Recommendation</h3>
    <br>
    <div class="game-cards">
      <div class="card-grid-lg" data-controller="addgame">
      <% if @games.length != 0 %>
        <%= render 'pages/game_card', responses: @games %>
      <% end %>
      </div>
    </div>
  </div>

</div>



