<div class="game-reco">
  <h2 class="my-5">Games similar to this</h2>
  <div class="game-cards">
    <div class="card-grid-lg" data-controller="addgame">
      <%= render 'pages/game_card', responses: @games %>
    </div>
  </div>
</div>

