.navbar-lewagon {
  justify-content: space-between;
  background-color:transparent;
  transition: 0.3s background-color ease;
  .nav-link {
    color:$light-blue !important;
    font-size: 16px;
  }
  .active > .nav-link {
    font-weight: 600 !important;
  }
}

.navbar-lewagon-dark {
  background-color:$ocean;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  span {
    color:$light-blue;
    font-family: $headers-font;
    font-size: 20px;
    margin-top: 7px;
  }
  i {
    color: $rose;
    font-size: 25px;
    margin: auto 10px;
  }
}
