.user-profile {
  background-color:$lake;
  height: 600px;
  border-radius: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 63px;
  .container-user {
    margin: 20px 10px;
    text-align: center;
    color:$light-gray;

  }

  i {
    color: $red;
    font-size: 20px !important;
    vertical-align: middle;
  }
  .user_name {
    margin-top: 1rem;
  }
  hr {
    border-color: $light-gray;
  }
  .btn-square {
    color: $light-gray;

  }
}




