.user-profile {
  background-color:$lake;
  height: 88vh;
  border-radius: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 63px;
  .container-user {
    margin: 20px 10px;
    text-align: center;
    color:$light-gray;
  }

  .user_name {
    margin-top: 1rem;
  }
  hr {
    border-color: $light-gray;
  }
  .btn-square {
    color: $light-gray;
    padding:6px 10px 6px 10px;
    background-color: $rose;
    font-family: $headers-font;
  }

  ul {
    padding-left: 0px !important;
    a, p, h6 {
      margin-bottom: 0px !important;
      vertical-align: middle;
    }

    p, h6 {
      padding-top: 5px;
    }
  }
}




